body{
    font-family: 'Poppins', sans-serif;
    background: white;
}
.slider-container {
    width: 100%;
    height: 900px;
    overflow: hidden;
}
.slider-wrapper {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}
.slider-slide{
    flex: 0 0 50%;
    position: relative;
}
.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    top: 40%;
    font-size: 30px;
}
.navbar{
    position: static;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    top: 0;
    font-size: 27px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.slider-arrow{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 10px;
    border: non;

    z-index: 1;
}
.prev{
    left:0;
}
.next{
    right:0;
}

.packages .box-container .box-container
{
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    background: rgb(225, 222, 222);
    cursor: pointer;

}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap:2rem;
}

.btn{
    font-size: 25px;
    padding: 5px;
    background-color:black;
    color: white;
}
a{
text-decoration: none;
}
